/***************  Fonts Styles start  **************/

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Bold.woff2') format('woff2'),
    url('../fonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('../fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
    url('../fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('../fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/***************  Fonts Styles end  **************/

:root{
    --header-bg-color: #fff;
    --main-text-color: #939CAA;
    --main-title-color: #495567;
    --btn-bg-color: #FCB72B;
    --main-bg-color:  #F2F2F2;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn{
    padding: 14px 39px;
    width: 180px;
    height: 53px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: var(--header-bg-color);
    background-color: var(--btn-bg-color);
    border: none;
}

.btn:active{
    background-color: transparent;
    border: 3px solid  var(--btn-bg-color);
    color: var(--btn-bg-color);
    font-size: 14px;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    margin: 0;
    font-family: "Space Mono",  "Arial" , sans-serif ;
    font-weight: 400;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/*******************  Header Styles start  ****************/
.site-header{
    background-color: var(--header-bg-color);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header-start{
    display: flex;
    align-items: center;
    gap: 90px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}

.nav-link:active{
    color: var(--btn-bg-color);
}
@media only screen and (max-width: 768px) {


}

/*******************  Header Styles end  ****************/


