/***************  Fonts Styles start  **************/

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Bold.woff2') format('woff2'),
    url('../fonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('../fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
    url('../fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('../fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/***************  Fonts Styles end  **************/

:root{
    --header-bg-color: #fff;
    --main-text-color: #939CAA;
    --main-title-color: #495567;
    --btn-bg-color: #FCB72B;
    --main-bg-color:  #F2F2F2;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn{
    padding: 14px 39px;
    width: 180px;
    height: 53px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: var(--header-bg-color);
    background-color: var(--btn-bg-color);
    border: none;
}

.btn:active{
    background-color: transparent;
    border: 3px solid  var(--btn-bg-color);
    color: var(--btn-bg-color);
    font-size: 14px;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    margin: 0;
    font-family: "Space Mono",  "Arial" , sans-serif ;
    font-weight: 400;
    font-style: normal;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/*******************  Header Styles start  ****************/
.site-header{
    background-color: var(--header-bg-color);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header-start{
    display: flex;
    align-items: center;
    gap: 90px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}

.nav-link:active{
    color: var(--btn-bg-color);
}
@media only screen and (max-width: 768px) {


}

/*******************  Header Styles end  ****************/

/*******************  Main Styles start  ****************/

/********************  Hero section styles start  **********************/
.hero-wrapper{
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 650px;
    padding: 153px 0;
    margin-bottom: 160px;
    position: relative;
}

.background-line{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #2F3B59;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.hero-info{
    position: absolute;
}
.hero-title{
    max-width:500px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--header-bg-color);
    margin-top: 0;
}

.hero-desc{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: 40px;
    color:  var(--header-bg-color);
    max-width: 405px;
    margin-left: 160px;
}

.hero-left__img{
    position: absolute;
    width: 203px;
    height: 15px;
    bottom:280px

}

.hero-wrapper .btn {
    margin-left: 160px;
    margin-top: 25px;
}

.hero-right__img{
    position: absolute;
    width: 446px;
    height: 99px;
    right: 289px;
    bottom: 195px;
}

/******************  Hero section styles end   **************/


/******************  Locate section styles start   **************/
.locate{
    background-image: url(../images/icons/locate-hr.svg);
    background-repeat: no-repeat;
    background-position: 35px 40px;
}

.locate-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.locate__img{
    width: 96px;
    height: 96px;
}

.locate-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--main-title-color);
}

.locate-desc{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    max-width: 350px;
}
/******************  Locate section styles end **************/


/******************   Riding  section styles start   **************/

/******************   Riding  section styles end   **************/







/*******************  Main Styles end  ****************/


