/***************  Fonts Styles start  **************/

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Bold.woff2') format('woff2'),
    url('../fonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('../fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
    url('../fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('../fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/***************  Fonts Styles end  **************/


/***************  GLobal Styles start  **************/

:root{
    --header-bg-color: #fff;
    --main-text-color: #939CAA;
    --main-title-color: #495567;
    --btn-bg-color: #FCB72B;
    --main-bg-color:  #F2F2F2;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn{
    padding: 14px 39px;
    width: 180px;
    height: 53px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: var(--header-bg-color);
    background-color: var(--btn-bg-color);
    border: none;
}

.btn:active{
    background-color: transparent;
    border: 3px solid  var(--btn-bg-color);
    color: var(--btn-bg-color);
    font-size: 14px;
    cursor: pointer;
}

.btn-link{
    padding: 14px 39px;
    width: 180px;
    height: 53px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: var(--header-bg-color);
    background-color: var(--btn-bg-color);
    border: none;
}

.btn-link:active{
    background-color: transparent;
    border: 3px solid  var(--btn-bg-color);
    color: var(--btn-bg-color);
    font-size: 15px;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    margin: 0;
    font-family: "Space Mono",  "Arial" , sans-serif ;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-bg-color);
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/***************  GLobal Styles end  **************/

/*******************  Header Styles start  ****************/
.site-header{
    background-color: var(--header-bg-color);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header-start{
    display: flex;
    align-items: center;
    gap: 90px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}

.nav-link:active{
    color: var(--btn-bg-color);
}


/*******************  Header Styles end  ****************/

/*******************  Main Styles start  ****************/

/********************  Hero section styles start  **********************/
.hero-wrapper{
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 650px;
    padding: 153px 0;
    margin-bottom: 160px;
    position: relative;
}

.background-line{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #2F3B59;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.hero-info{
    position: absolute;
}
.hero-title{
    max-width:500px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--header-bg-color);
    margin-top: 0;
}

.hero-desc{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-top: 40px;
    color:  var(--header-bg-color);
    max-width: 405px;
    margin-left: 160px;
}

.hero-left__img{
    position: absolute;
    width: 203px;
    height: 15px;
    bottom:280px;
}

.hero-wrapper .btn {
    margin-left: 160px;
    margin-top: 25px;
}

.hero-right__img{
    position: absolute;
    width: 446px;
    height: 99px;
    right: 289px;
    bottom: 195px;
}

/******************  Hero section styles end   **************/


/******************  Locate section styles start   **************/
.locate{
    background-image: url(../images/icons/locate-hr.svg);
    background-repeat: no-repeat;
    background-position: 35px 40px;
}

.locate-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.locate__img{
    width: 96px;
    height: 96px;
}

.locate-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--main-title-color);
}

.locate-desc{
    font-family: 'Lexend Deca', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    max-width: 350px;
}
/******************  Locate section styles end **************/


/****************** Riding-telemetry  section styles start   **************/
.riding-telemetry{
    position: relative;
}
.riding-telemetry__wrapper{
    margin-top: 147px;
}


.riding-telemetry__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--main-title-color);
    max-width: 445px;
    padding-top: 50px;
    margin-bottom: 24px;
}

.riding-telemetry__desc{
    font-family: 'Lexend Deca', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    max-width: 445px;
    margin-bottom: 40px;
}


.riding-telemetry__img{
    width: 747px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
}

/****************** Riding-telemetry  section styles end   **************/


/****************** Neary-city section styles start   **************/
.neary-city{
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    position: relative;
}

.neary-city__wrapper{
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

.card{
    max-width: 445px;
}

.neary-city__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--main-title-color);
}

.neary-city__desc{
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    margin-bottom: 40px;
}


.neary-city .neary-city__indicator{
    position: absolute;
    top: 0;
    left: 0;
}
/****************** Neary-city section styles end   **************/

/****************** Easy-payments  section styles start   **************/
.easy-payments__wrapper{
    margin-top: 147px;
    position: relative;
}


.easy-payments__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--main-title-color);
    max-width: 445px;
    padding-top: 50px;
    margin-bottom: 24px;
}

.easy-payments__desc{
    font-family: 'Lexend Deca', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    max-width: 445px;
    margin-bottom: 40px;
}

.easy-payments__img{
    width: 610px;
    height: 445px;
    position: absolute;
    top: 0;
    right: 0;
}

/****************** Easy-payments  section styles end   **************/

/*******************  Main Styles end  ****************/


/*******************  Footer Styles start  ****************/

/*******************  Footer-top Styles start  ****************/
.footer-top{
    background-color: var(--main-title-color);
    min-height: 300px;
    background-image: url(../images/footer-top-bg.png);
    background-position: bottom  right;
    background-repeat: no-repeat;
}

.footer-top__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 80px 0;
    margin-top: 400px;
}

.footer-top .card{
    display: flex;
    gap: 18px;
}

.footer-top__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--header-bg-color);
    max-width: 415px;
}

/*******************  Footer-top Styles start  ****************/

/*******************  Footer-bottom Styles start  ****************/
.footer-bottom{
    background-color: #333A44;
    min-height: 96px;
}

.footer-bottom__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}

.footer-bottom__start{
    display: flex;
    justify-content: space-between;
    gap: 59px;
    align-items: center;
}
.network-icon__img{
    margin-left: 10px;
    fill: var(--btn-bg-color);
}

.network-icon__img:active{
    fill:  #E5ECF4;
    cursor: pointer;
}
/*******************  Footer-bottom Styles end  ****************/

/*******************  Footer Styles end  ****************/

/**********************  Responsive Tablet version styles start  *****************************/
@media only screen and (max-width: 980px) {
/*    Header styles start */
.header-wrapper{
    display: flex;
    justify-content: center;
    gap: 100px;
}
/*    Header styles end*/

/*    Main styles start*/

/*    Hero section styles start*/
.hero-wrapper{
    margin-bottom: 120px;
}

.hero-info{
    margin-left: 200px;
    text-align: center;

}

.hero-desc{
    margin-left: 0;
    max-width: 573px;
}

.hero-wrapper  .btn{
    margin-left: 0;
    text-align: center;
}

.hero-left__img{
    display: none;
}

.hero-right__img{
    bottom: 30px;
    left: 0;
}
/*    Hero section styles end */


/*    Locate section styles start */
.locate{
    background-image: url(../images/icons/locate-hr_y.svg);
    background-position: 205px -50px;
}
.locate-wrapper{
    flex-direction: column;
    gap: 0;
    margin-right: 200px;
}

.locate-wrapper .card{
    display: flex;
    align-items: center;
    gap: 110px;
}

.locate-desc{
    min-width: 450px;
}
/*    Locate section styles end */

    /*    Riding-telemetry section styles start */
    .riding-telemetry__img {
        right: 0;
        width: 850px;
        height: 500px;
    }

.riding-telemetry__title{
    padding-top: 550px;
    text-align: center;
    margin-left: 250px;
}

.riding-telemetry__desc{
    min-width: 573px;
    text-align: center;
    margin-left: 180px;
}

.riding-telemetry__wrapper  .btn-link{
    margin-left: 380px;
}
/*    Riding-telemetry section styles end */

/*    Neary-city section styles start */
.neary-city__wrapper{
    flex-direction: column;
    align-items: center;
}

.neary-city__wrapper .card{
    text-align: center;
}

.neary-city__title{
    max-width: 457px;
    margin-left: 50px;
}

.neary-city__desc{
    min-width: 573px;
}

.neary-city__wrapper .card{
    min-width: 573px;
}

/*    Neary-city section styles end */

/*    Easy-payments section styles start */
.easy-payments__img{
    right: 0;
    width: 700px;
    height: 500px;
}

.easy-payments__title{
    padding-top: 550px;
    margin-left: 250px;
    text-align: center;
}

.easy-payments__desc{
    min-width: 573px;
    text-align: center;
    margin-left: 180px;
}

.easy-payments__wrapper .btn-link{
    margin-left: 380px;
}

/*    Easy-payments section styles end */

/*    Main styles end*/


/*    Footer styles start*/

/*    Footer-top styles start*/
.footer-top{
    background-position: bottom;

}
.footer-top__wrapper{
    margin-top: 150px;
    flex-direction: column;
    padding: 62px 0;
    text-align: center;
}

/*    Footer-top styles end*/

/*    Footer-bottom styles start*/
.footer-bottom__wrapper{
    justify-content: center;
    gap: 153px;

}
/*    Footer-bottom styles end*/

/*    Footer styles end*/
}

/**********************  Responsive Tablet version styles end  *****************************/


/**********************  Responsive Mobile version styles start  *****************************/
@media only screen and (max-width: 375px)  {

/*    Header styles start*/
.footer-bottom__wrapper{
    display: inline;
}

/*    Header styles end*/

/*    Main styles start*/

/*    Hero section styles start*/


.


/*    Hero section styles end*/

/*    Main styles end*/

}

/**********************  Responsive Mobile version styles end  *****************************/


